<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>LK21 Bypass</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" style="margin-left: 20px" href="/">Hehe</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
          </ul>
          </div>
      </div>
    </nav>
    <div class="container">
      <h3 style="margin-top: 10px" class="text-center"><%= datas.judul%></h3>
      <div class="row row-cols-4 text-center" style="margin-top: 10px;">
        <% datas.data.forEach((data) => { %>
          <div class="col mb-3">
            <%=data.source%>
            <br>
            <a href="<%=data.link%>" class="btn btn-primary mt-3">Here</a>
          </div>
        <% })%>
    </div>
  </body>
</html>
